@font-face {
  font-family: nanumgothic;
  src: local(fonts.googleapis.com/earlyaccess/nanumgothic.css),
       local(fonts.googleapis.com/earlyaccess/nanumgothic.css),
       url(fonts.googleapis.com/earlyaccess/nanumgothic.css.eot?#iefix) format('embedded-opentype'),
       url(fonts.googleapis.com/earlyaccess/nanumgothic.css.woff) format('woff'),
       url(fonts.googleapis.com/earlyaccess/nanumgothic.css.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}

*{
  margin:0;

}
body{
  background: url(image/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  text-align:center;
  font-family: 'Shadows Into Light Two', cursive;
  color:white;
}

.title{
  font-size:70px;
  margin-top:100px;
  margin-bottom:20px;
}

.wise_saying{
  font-size:50px;
  margin-bottom:60px;
}

.name{
  font-family: nanumgothic;
  color:white;
  margin-bottom:100px;
}

.start{
  font-size:100px;
  color:yellow;
  text-decoration: none;
